@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
:root {
  --light-gray-1: #d9d9d9;

  --yellow-1: #f1c50e;
}
html {
  /* set font-size to 10px */
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
}
body {
  font-size: 1.6rem;
  font-family: Raleway, sans-serif;
}
.wrapper {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 0.7rem;
}

.header {
  display: flex;
  height: 7rem;
  justify-content: space-between;
  align-items: center;
  /* background-color: khaki; */
}

.fa-search {
  font-size: 1.3rem;
  color: #d9d9d9;
}

.search-container {
  border: 1px solid var(--light-gray-1);
  background-color: #fff;
}

.search-container a {
  display: inline-block;
  padding: 1rem;
}
.humburger {
  display: none;
  position: relative;
  border-top: 3px solid rgb(49, 49, 49);
  width: 2.5rem;
  height: 2rem;
  cursor: pointer;
}

.humburger::before {
  content: '';
  position: absolute;
  border-top: inherit;
  top: 4px;
  left: 0;
  width: 2.5rem;
}
.humburger::after {
  content: '';
  position: absolute;
  border-top: inherit;
  top: 11px;
  left: 0;
  width: 2.5rem;
}

.ui-menu {
  display: flex;
  flex-basis: 63%;
}
.ui-menu li {
  list-style-type: none;
  flex-grow: 1;
  text-align: center;
  position: relative;
  display: block;
  padding: 1rem;
  cursor: pointer;
}

.ui-menu li::before {
  background-color: #fff;
  transition: all 1s ease-out;
}

.ui-menu li:hover::before {
  content: '';
  display: block;
  position: absolute;
  background: var(--yellow-1);
  height: 3px;
  left: 50%;
  bottom: 1px;

  transform: translateX(-50%);
  width: 40%;
  transition: all 1s ease-out;
}

@media screen and (max-width: 660px) {
  .ui-menu {
    flex-basis: 0;

    display: none;
  }

  .humburger {
    display: block;
  }
}

/*****  GLOBAL ****/
input[type='text'],
input[type='search'] {
  padding: 0.81rem;
  border: none;
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.btn {
  padding: 1.5rem;
  border: 1px solid rgb(53, 53, 53);
  background-color: transparent;
  width: 15rem;
  outline: none;
  transition: background-color 0.5s ease-out;
  cursor: pointer;
}

.btn:hover {
  background-color: whitesmoke;
}

/**** END GLOBAL ****/

/****  MAIN CONTENT  ****/
.main-content {
  border-top: 1px solid var(--light-gray-1);
  padding-top: 3rem;
}

.home-repair-container {
  display: flex;
  flex-wrap: wrap;
}

.home-repair-container .f-item {
  flex-grow: 1;
  flex-basis: 50%;
  min-width: 50rem; /* cause a problem with the header under 500px;
}

.home-repair-text {
  /* background-color: red; */
}
.home-repair-text h1 {
  color: var(--yellow-1);
  font-family: Oswald;
  font-size: 8.6rem;
  font-weight: 700;
  height: 10rem;
}
.home-repair-text h2 {
  color: #b3b3b3;
  font-family: Oswald;
  font-size: 6.75rem;
  font-weight: 400;
}

.home-repair-text p {
  margin-top: 1.7rem;
  line-height: 2.6rem;
  width: 80%;
  max-width: 49rem;
}

.home-repair-text .btn {
  margin-top: 3.5rem;
  display: block;
}

@media screen and (max-width: 1012px) {
  .home-repair-text .btn {
    margin: 1.5rem 0 1.5rem 0;
  }
}

.home-repair-image {
  position: relative;
}

.home-repair-image .img-1 {
  width: 100%;
  object-position: 96% 100%;
  background-position: 92% 100%;
}

.home-repair-image .img-2 {
  width: 70%;
  position: absolute;
  bottom: -12.7rem;
  left: 50%;
  transform: translateX(-30%);
  object-fit: cover;
}
