* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #000;
  height: 100vh;
}

.grid-container {
  max-width: 120rem;
  font-size: 2.5rem;
  background-color: #fff;
  height: 50rem;
  margin: 10rem auto;
  grid-template-columns: repeat(12, minmax(20px, 1fr));
  display: grid;
}
.item {
  background: salmon;
  border: 1px solid #eee;
}
.item-1 {
}
.item-2 {
}
.item-3 {
}
.item-4 {
}
.item-5 {
}
